#content {
    display: flex;
    justify-content: space-between;
}

.stats {
    text-align: center;
}
.bio {
    /* background-color:  #109aaf90; */
    margin-bottom: 5rem;
    text-align: left;
    padding: 1rem;
}

.profile {
    max-width: 200px;
    max-height: 200px;
    /* float: left; */
    /* padding-right: 1rem; */
    /* border-radius: 50%; */
}

.blurb {
    margin-left: 2rem;
}

#about-me {
    text-align: center;
}

.resume {
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

.pdf {
    color: red;
    font-size: 2rem;
}