#content {
    background-color: #e6e6e6;
    /* display: flex; */
    /* justify-content: space-between; */
}

.stats {
    text-align: center;
    padding: .5rem;
}
.bio {
    /* background-color:  #109aaf90; */
    margin-bottom: 5rem;
    text-align: left;
    padding: 3rem;
}

.profile {
    max-width: 20rem;
    max-height: 20rem;
    /* float: left; */
    /* padding-right: 1rem; */
    /* border-radius: 50%; */
}

.blurb {
    margin-left: 2rem;
}

#about-me {
    text-align: center;
}

.resume {
    color: white;
    font-family: 'Ubuntu', sans-serif;
}

.pdf {
    color: red;
    font-size: 2rem;
}