.contact {
    /* background-color:#4b6eb590 ; */
    margin-top: 5rem;
    padding: 1rem 1rem 10rem 1rem;
    text-align: center;

}

#reachme {
    /* display:inline-block; */
    display: flex;
    justify-content:space-around ;

}

.reach-out {
    font-size: 2vw ;
    color: white;
}
