.footer {
    /* margin-top: 5rem; */
    text-align: center;
    position: relative;
    bottom: 0px;
    height: 5rem;
    width:100%;
    color: #ffffff;
    background-color: #666666;
    /* border-top: 5px solid#4aaaa5; */
}

.text-muted {
    bottom: 1px;
    position: absolute;
}