.footer {
    text-align: center;
    margin-top: 10rem;
    position: fixed;
    bottom: 0px;
    height: 5%;
    width:100%;
    color: #ffffff;
    background-color: #666666;
    /* border-top: 5px solid#4aaaa5; */
}