/* Needed, otherwise nav will display below header and extend it */
/* .navbar-brand .header{
    /* position: fixed;
    display: inline;   
} */

.header {
    background-color: dimgrey;
}

.title-bar {
    position: fixed;
    background: 0;
    /* opacity: 0%; */
    width: 100%;
    margin-bottom: 1rem;
}

.title-bar-left {
    padding-left: 0px !important;
}

#brand-logo {
    width:100px;
    float: left;
    margin: 5px 20px 20px 5px;
    align-items: left;
}

.companyname {
    color:black;
    font-family: "Staatliches";
    top: 50%;
}

.navlinks {
    size: 200px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    list-style-type: none;
    margin-right: 1rem;
}

.sitename {
    color: black;
    size: 150%;
    list-style-type: none;
}

.nav {

    color: white !important;
    float: right;
    /* position: relative; */
}