/* Needed, otherwise nav will display below header and extend it */
/* .navbar-brand .header{
    /* position: fixed;
    display: inline;   
} */

.title-bar {
    position: fixed;
    background: 0;
    /* opacity: 0%; */
    width: 100%;
    margin-bottom: 1rem;
}

.title-bar-left {
    padding-left: 0px !important;
}

#brand-logo {
    width:100px;
    float: left;
    margin: 5px 20px 20px 5px;
    align-items: left;
}

.navlinks {
    list-style-type: none;
    margin-right: 1rem;
}