.card {
    /* width: 400px;
    height: 600px; */
    min-width: 250px;
    margin: 1rem;
}

.button {
    margin: 1rem;
}

.card-divider {
    text-align: center;
}

.techlink {
    text-align: center;
}

.portfolio {
    width: 100%;
}

#my-portfolio {
    text-align: center;
}