.skillview {
    display: flex;
    justify-content: center;
}

.skills {
    /* background-color: #7963aa90; */
    padding: 3rem;
    margin-bottom: 5rem;
    text-align: center;
}

.skillLogo {
    max-width: 100px;
    max-height: 100px;
}

.skill {
    margin: .5rem;
}

.skillcell {
    color: #8c8c8c;
    border-width: 2rem;
    border-color:black; 
    border-radius: 20px;
    background-color: whitesmoke;
    margin: 1rem 1rem 1rem 1rem;
    padding: 1rem 1rem 1rem 1rem;
}

.skillhead {
    font-family: 'Staatliches', sans-serif;
}

.icons {
font-size: 10vw;
}

.skillbody {
    font-family: 'Open Sans', sans-serif;
    /* font-weight: bold; */
    padding: 0rem 1rem 0rem 1rem;
}

.askill {
    font-size: 1rem;
    font-weight: bolder;
    top: 50%;
    color: whitesmoke;
    background-color: dimgray;
    border: .2rem solid dimgray;
    border-radius: 20px;
    margin: 0rem .5rem .5rem .5rem;
    padding: .2rem .3rem .2rem .3rem;
} 