.sectionhead {
    font-style: oblique;
}

.header {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2vw;
}

// @include foundation-everything(true);

$global-flexbox: true;

$cell-margin: 1rem;

// @include foundation-grid;
// @include foundation-flex-grid;
// @include foundation-flex-classes;

