p h4 {
    font-family: 'Open Sans', sans-serif;
}

.sectionhead {
    font-size: 5rem;
    color: whitesmoke;
    font-family: 'Staatliches', cursive;
}

.sectionbg {
    background-color: #00388c90;
}

.header {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2vw;
}
// @import 'foundation';
// @include foundation-everything(true);

$global-flexbox: true;

$cell-margin: 1rem;

// @include foundation-grid;
// @include foundation-flex-grid;
// @include foundation-flex-classes;

